@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');
*{
  margin:0;
  margin-top:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
  color:white;
  text-decoration: none;
text-transform: capitalize;
transition: all .2s linear;
}
.about{
    position: relative;
    /*--min-height: 70vh;--*/
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url("../../handweb.jpg");
    background-size: cover;
  }
  .about .aboutcontent{
    max-width: 400px;
    text-align: center;
    min-height: 60vh;
  }
  .about .aboutcontent h2{
    font-size: 45px;
    padding-top: 90px;
    font-weight: 1000;
    color: #e77645;
    
    
  }
  .about .aboutcontent p{
    font-weight: 900;
    font-size: 25px;
    color: black;
  }
  .section-about{
      width: 100%;
      min-height: 100vh;
      background-color: white;
    
  }
  .about-container{
      width: 80%;
      display: block;
      margin:auto;
      padding-top: 100px;
  }
  .content-about{
      float: left;
      width: 55%;
  }
  .aboutimage{
      float: right;
      width: 45%;
  }
  .aboutimage img{
      width: 100%;
      height: auto;
  }
  .content-about .abouttitle{
      text-transform: uppercase;
      font-size: 28px;
  }
  .content-about{
  margin-bottom: 30px;
  }
  .content-about .section1content p{
      margin-top: 10px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.5;
    color: black;
  }
  
  @media screen and (max-width: 768px){
      .about-container, .about2-container{
      width: 80%;
      display: block;
      margin:auto;
      padding-top:50px;
  }
  .content-about {
      float:none;
      width:100%;
      margin:auto;
  }
  .content2-about{
    float:none;
      width:100%;
      display: block;
      margin:auto
  }
  .content2-about p{
      margin:auto;
  }
  .aboutimage{
      float:none;
      width:100%;
      
  }
  .aboutimage img{
      width: 100%;
      height: auto;
      display: block;
      margin:auto;
  }
  .content2-about .section2content p{
    font-size: 10px;
  }
  .content-about .abouttitle{
      text-align: center;
      font-size: 19px;
  }
  .content2-about .about2-title{
    text-align: center;
      font-size: 19px;
  }
  }
  
  .section2-about{
      width: 100%;
      min-height: 100vh;
    background-color: black;
    padding: 30px;
  }
  .about2-container{
      width: 80%;
      margin:auto;
    margin-top: 50px;
      padding: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:whitesmoke;
   /*-- background-image:url("../../austin-distel-tLZhFRLj6nY-unsplash.jpg");--*/
    position: relative;
    height:inherit;
    border: 1px solid black;
    border-radius: top left 20px;
    border-radius: bottom right 20px;
  
  }
  
  .content2-about .about2-title{
      text-transform: uppercase;
      font-size: 28px;
  }
  .content2-about{
  margin-bottom: 30px;
  width: 55%;
  display: contents;
  }
  .section2content{
    padding: 20px;
  }
  .content2-about .section2content h3{
      margin-top: 20px;
      color:#fff;
      font-size: 50px;
  }
  .content2-about .section2content p{
      margin-top: 10px;
      font-family: sans-serif;
      font-size: 15px;
      line-height: 1.5;
    color: white;
  }
  @media(max-width: 991px){
    .about{
      padding: 50px;
    }
  }